.ahead h1{
    text-align: center;
    margin:50px 0;
    background-color: #5cb748;
    color:white;
    border-radius: 5px;
    
}

.lpara{
    margin:50px;
    margin-top:50px;
    font-size: 25px;
    width:50%;
    text-align: justify;
    
}

.apara{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    margin:20px;
    border-radius: 10px;

}
.img{
    background-color: rgb(94, 38, 38);
}

.i img{

    margin-left:150px;
    margin-bottom:50px;
    border-radius: 30px;
}
