 .hord h1{
    text-align: center;
    margin:50px 0;
    background-color: #5cb748;
    color:white;
    border-radius: 5px;
}

.list img{
    height:180px;
    width:250px;
}

button{
    height:25px;
    width:35px;
    margin:10px;
}

.bod{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bod img{
    height:20px;
    width:55%;
}
button.log{
    width:70px;
}

.but{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 30px;
    align-items: center;
    color: black;
    width:100px;
    height:40px;
    border:1.5px solid #5cb748;
    position:relative;
    top:30px;
}

.but img{
    height:12px;
    width:12px;
}

.minus{
    position: relative;
    top:3px;
}

.olist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:40px 40px;
    
}

.chick h2{
    margin-right: 30px;
}

.btn-primary{
    background-color:#FF7223;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    height:50px;
    width:100px;
}

.btn{
    background-color:#FF7223;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    height:50px;
    width:100px;
}

.pt{
    text-align:end;
    margin:30px;
    border-top:2px solid grey;
    border-bottom: 2px solid grey;;
}

.lbut{
    display: flex;
    justify-content: flex-end
}