.pro{
    height:60%;
    width:35%;
    color:black;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
    left: 500px;
    margin:100px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pro h1{
    background-color:#5cb748;
    border-radius: 10px 10px 0 0;
    margin:0;
    color:white;
    text-align: center;
}

h2{
    position: relative;
    left:450px;
}

.pbox{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.pbox img{
    margin-top: 15px;
}

input[type=file]{
    position: absolute;
    left:38%;
    top:65.5%;
    opacity:0;
    cursor: pointer;
}

.pbox button{
    height:30px;
    margin-bottom: 30px;
    position:relative;
    top:30px;
    left:50px;
    color:white;
    border-color:transparent;
    border-radius: 5px;
    background-color: #FF7223;
}

.imgb{
    display: flex;
    flex-direction: column;
}

input{
    border-color: transparent;
}

textarea{
    height:60px;
    border-color: transparent;
}

.sep{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width:80%;
}
