@import "normalize.css";

body{
    font-family: 'Courgette', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;}


.head{
    display:flex;
}

.navbar{
    margin-top:30px;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding-right:50px;
}

.Profile button{
    position: relative;
    bottom: 10px;
    right:20px;
    padding:5px 10px;
    color:white;
    height:35px;
    width:80px;
    border-radius: 40px;
    border-color: transparent;
    background-color:#FF7223;    
}

.Profile img{
    margin-top:25px;
    margin-right: 20px;
}