
@import "header.css";
*{
    font-family: 'Kanit', sans-serif;
}


h1.he{
    text-align: center;
    margin:10px;
    background-color: #5cb748;
    color:white;
    height:50px;

}

.menu{
    background-color: rgb(244, 244, 244);
    padding:10px;
    display:flex;
    justify-content: center;
    border-radius: 20px;
}

.menu a{
    text-decoration: none;
    color: Black;
    margin:0 20px;
    
    
}
.top{
    display:flex;
    justify-content: center;
    margin:25px 0;
}

.food{
    margin:20px;
}
.details {
    margin-top: 20px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.box{
    border:1px solid grey;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img {
    width: 150px;
    height: 100px;
}
.border  {
     
     width: 200px;
}
.border h4 {
    text-align: center;
}

.info_box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    
}
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info p{
    font-size: 12px;
    margin-top: 22px;
}

.price{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.price p{
    margin-top:25px;
}

.price button{
    background-color:orange;
    border-color: transparent;
    margin-top:20px;
    height:30px;
    width:50px;
}
