body{
    height:230%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pro{
    height:60%;
    width:35%;
    color:black;
    background-color: #fafafa;
    border-radius: 10px;
    position: fixed;
    left: 130px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pro h1{
    background-color:#5cb748;
    border-radius: 10px 10px 0 0;
    margin:0;
    color:white;
    text-align: center;
}

.pbox{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.pbox img{
    margin-top: 15px;
}

.pbox button{
    height:30px;
    position:relative;
    top:30px;
    left:80px;
    color:white;
    border-color:transparent;
    border-radius: 5px;
    background-color: #FF7223;

}

input{
    border-color: transparent;
}

textarea{
    height:60px;
    border-color: transparent;
}

.sep{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width:80%;
}

.side{
    height:75%;
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}

.history{
    width:450px;
    position:relative;
    left:300px;
}

.history h2{
    text-align: center;
}

.obox{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px 0 10px 20px;
    height:24%;
    width:90%;
    margin:30px;
}

.obox p{
    color:grey;
}

.order{
    display: flex;
    justify-content: space-between;
    width:90%;
}

.ibutton{
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ibutton button{
    background-color: white;
    border: 2px solid forestgreen;
    width:100%;
    border-radius: 4px;
}

.ibutton button:hover{
    background-color: #e7f5e3;
    transform: scale(1.05);
}

.imgbut{
    height:230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cbut{
    width:100%;
    display: flex;
    justify-content: space-between;
   
}

.cbut button{
    background-color: white;
    border: 2px solid forestgreen;
    border-radius: 4px;
}

.cbut button:hover{
    background-color: #e7f5e3;
    transform: scale(1.05);
}

.rate p.rs{
    color:black;
    font-weight: bold;
}

.rate{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.details{
    width:150px;
}

.ratee{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
