body{
    height:230%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:100px;
    height:85vh;
}
.pro{
    height:32rem;
    width:32rem;
    color:black;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pro h1{
    background-color:#5cb748;
    border-radius: 10px 10px 0 0;
    margin:0;
    color:white;
    text-align: center;
}

.pbox{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.pbox img{
    margin-top: 15px;
}

.pbox button{
    height:30px;
    position:relative;
    top:30px;
    left:80px;
    color:white;
    border-color:transparent;
    border-radius: 5px;
    background-color: #FF7223;
}

input{
    height:20px;
    border-color: transparent;
}

textarea{
    height:60px;
    border-color: transparent;
}

.sep{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    width:80%;
}

.overflowbox{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-margin-top: 100px;
    padding:0 50px;
    max-width: 1000px;
    max-height: 500px;
}

::-webkit-scrollbar{
    color: transparent;
}

.history h2{
    text-align: center;
}

.obox{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:20px;
    height:24%;
    width:90%;
    margin:30px;
}

.obox p{
    color:grey;
}

.ihead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

.item h3:nth-child(2){
    margin-top:0;
}

.item h4.ndel{
    color: tomato;
}

.item h4{
    color:#5cb748;
}

p.impnote{
    color: grey;
    margin-top: 0;
    font-size: 14px;
}

.order{
    display: flex;
    justify-content: space-between;
    width:90%;
}

.ibutton{
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ibutton button{
    background-color: white;
    border: 2px solid forestgreen;
    width:100%;
    border-radius: 4px;
}

.ibutton button:hover{
    background-color: #e7f5e3;
    transform: scale(1.05);
}

.imgbut{
    height:230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cbut{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.cbut button{
    background-color: white;
    border: 2px solid forestgreen;
    border-radius: 4px;
}

.cbut button:hover{
    background-color: #e7f5e3;
    transform: scale(1.05);
}

.rate p.rs{
    color:black;
    font-weight: bold;
}

.rate{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.details{
    width:150px;
}

.ratee{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

@media (max-width:1100px){
    section{
        height:150vh;
        flex-direction: column;
        align-items: center;
    }    
}

@media (max-width:580px){
    section{
        margin-top: 50px;
        
    }
    .overflowbox{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        max-width: 460px;
        max-height: 500px;
    }
    .order{
        width:110%;
    }
    .rate{
        width:70%;
    }
    .details{
        width:175px;
    }
    .pro{
        width:100%;
        height:100%;
    }
    .pro h1 {
        border-radius: 0;
    }
    .pbox{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .imgb{
        width:40%;
    }
    .pbox img{
        height:100%;
        width:100%;
        border:3px solid rgb(93, 93, 93);
        border-radius: 50%;
        
    }
}