@import "normalize.css";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.head{
    display:flex;

}

.navbar{
    margin-top:30px;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding-right:50px;
}

.btn{
    color: white;
    background-color: #5cb748;
    border-color: transparent;
    height:50px;
    width:170px;
    font-weight: bold;
    border-radius: 50px;
    letter-spacing: 1px;
}

.btn:hover{
    color: white;
    background-color: #5cb748;
    transform:scale(1.1);
    border-color: transparent;
    height:50px;
    width:170px;
    font-weight: bold;
    border-radius: 50px;
    letter-spacing: 1px;
}

.Profile button{
    position: relative;
    bottom: 10px;
    right:20px;
    color:white;
    height:35px;
    width:80px;
    border-radius: 40px;
    border-color: transparent;
    background-color:#FF7223;    
}

.Profile img{
    margin-top:25px;
    margin-right: 20px;
}

.intro{
    margin:140px;
    display:flex;
    justify-content: space-around;
    margin-top: 120px;  
}

.intpara h1{
    font-size:70px; 
    color:#408531;
    font-family: "Courgette";
}

.intpara p{
    font-size:30px;
    width:80%;
    margin-bottom: 50px;
}

.works{
    display: flex;
    flex-direction: row;
    margin:100px 150px;
    font-family: 'PT Sans Narrow', sans-serif;    
}

.works img{
    margin-top: 70px;
}

.works h2{
    color:#008A90;
    font-size: 45px;
}

.works h3{
    color: gray;
    font-size: 22px;
}

.tpara{
    width:450px;
    position: relative;
    left:70px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-align: justify;
}


section.h h2{
    font-size: 40px;
    text-align: center;
    height:50px;
    color: rgb(43, 35, 35);
    padding-top: 30px;
    border-radius: 5px;
    margin-top: 20px;    
}

.how{
    height:500px;
}

.hiw{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    height:300px;
    width:300px;
}    

.hpara{
    position: relative;
    bottom:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 1.4;
    word-spacing:1px;
}

.fpara{
    position: relative;
    bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    word-spacing:2px;
    text-align: justify;
}

.foot{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    align-items:center;
    background-color:rgb(237, 236, 236);
}

.footer{
    margin-top:10px;
}

.footer img{
    height:30px;
    width:30px;  
}

.phone{
    display:flex;
    flex-direction:row;
}

.phone img{
    margin-top:6px;
    margin-right:10px;
}


